@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
html {
  font-size: 62.5%; }

html, body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-tap-highlight-color: transparent; }

body {
  font-size: 1.45rem;
  line-height: 1.6;
  background-color: whitesmoke; }

nav {
  background-color: #201f1f;
  height: 45px;
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0; }
  nav ul {
    display: flex;
    align-items: center; }
    nav ul li {
      list-style-type: none; }
    nav ul a {
      text-decoration: none;
      color: whitesmoke; }
    nav ul li:nth-child(1) {
      margin-right: auto;
      font-size: 20px;
      font-weight: 600; }

.container {
  display: flex;
  flex-direction: column; }
  .container .post-filter {
    display: flex;
    margin: 10px; }
  .container form {
    display: flex;
    justify-content: space-around; }
  .container input,
  .container select,
  .container button[type="submit"] {
    font-size: 1.45rem;
    line-height: 1;
    height: 35px; }
  .container input,
  .container select {
    background-color: #fff;
    border: lightseagreen;
    padding: 0 10px;
    width: 100%;
    margin: 0 10px 10px 0; }
  .container button[type="submit"] {
    font-size: 1.25rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: lightseagreen;
    color: #fff;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    min-width: 90px; }

@media screen and (min-width: 700px) {
  .container {
    width: 700px;
    margin-right: auto;
    margin-left: auto; } }

.card {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  margin: 8px;
  width: 95%;
  background: #fff;
  overflow: hidden;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); }
  .card a {
    text-decoration: none; }
  .card .card-media img {
    width: 100%; }
  .card .card-content {
    padding: 15px;
    background-color: #fff; }

/* Media queries */
@media screen and (min-width: 500px) {
  .card {
    margin: 16px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15); } }

@media screen and (min-width: 700px) {
  .card {
    margin: 16px auto; } }
