.container {
	display: flex;
	flex-direction: column;

	.post-filter {
		display: flex;
		margin: 10px;
	}

	form {
		display: flex;
		justify-content: space-around;
	}

	input,
	select,
	button[type="submit"] {
		font-size: 1.45rem;
		line-height: 1;
		height: 35px;
	}

	input,
	select {
		background-color: #fff;
		border: lightseagreen;
		padding: 0 10px;
		width: 100%;
		margin: 0 10px 10px 0;
	}

	button[type="submit"] {
		font-size: 1.25rem;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		background-color: lightseagreen;
		color: #fff;
		border: 0;
		border-radius: 3px;
		box-shadow: 0 1px 1px rgba(0,0,0,0.2);
		cursor: pointer;
		min-width: 90px;
	}

}


@media screen and (min-width: 700px) {
	.container {
		width: 700px;
		margin-right: auto;
		margin-left: auto;
	}
}
