.container {
	display: flex;
	flex-direction: column;
	margin-top: 40px;

	.post-filter {
		display: flex;
		margin: 10px 10px 10px 0px;
	}
}

@media screen and (min-width: 700px) {
	.container {
		width: 700px;
		margin-right: auto;
		margin-left: auto;
	}
}
